#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.quilt {
  display: grid;
  border: 3px solid black;
}

.quilt-row {
  display: flex;
}

/* TODO: make this dynamic based on patch size */
.quilt-row:nth-child(6n) {
  border-bottom: 3px solid black;
}

.patch {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.patch:nth-child(6n) {
  border-right: 3px solid black;
}

.controls-row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.control {
  margin-left: 1rem;
}

.control > label {
  text-align: left;
  display: block;
}